on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: eco4cast/rocker-neon4cast

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install archived rMR + dependency
        run: |
          Rscript -e 'install.packages("biglm", repos="https://cloud.r-project.org")'
          Rscript -e 'install.packages("https://cran.r-project.org/src/contrib/Archive/rMR/rMR_1.1.0.tar.gz", repos=NULL, type="source")'

      - name: Run automatic prediction file
        run: Rscript Main.R
